@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TacocaT MVC</h1>
    <p>
        Tacocat is a coding challenge based on the more traditional
        "Reverse a string" exercise and it determines if a word or a
        phrase reads the same backwards which is also referred to as
        a palindrome.
    </p>
</div>
